.creator {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 90vh;
}

.title {
    color: white;
    font-family: "Candal", sans-serif;
    font-size: 3rem;
}
